---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---
<table>
  <tr>
  <td>
		<img style=" max-width:200px;" src="../../img/portrait.jpg"></img>
	</td>
    <td>
		<h1>Phoebe Moh</h1>

		PhD student (Computer Science)</br> 
		University of Maryland</br></br>

		<strong>Email</strong>:  pmoh (at) umd (dot) edu</br>
		<strong>Github</strong>: <a href="https://github.com/pmoh-bees">pmoh-bees</a></br>
	</td>
    
  </tr>
</table>

<p>
I study human-centered security at the University of Maryland with <a href="https://mmazurek.umiacs.io/">Michelle Mazurek</a> as my advisor at the <a href="https://sp2.umiacs.io/">SP2 lab</a>.  My work focuses on home Internet of Things (IoT) devices, password management, and the security tradeoffs and decisions made by users.  I am interested in understanding how social norms and pressures influence how end users interact with security.
</p>

{% set postsCount = collections.posts | length %}
{% set latestPostsCount = postsCount | min(numberOfLatestPostsToShow) %}
<h1>Latest {{ latestPostsCount }} Publication{% if latestPostsCount != 1 %}s{% endif %}</h1>

{% set postslist = collections.posts | head(-1 * numberOfLatestPostsToShow) %}
{% set postslistCounter = postsCount %}
{% include "postslist.njk" %}

{% set morePosts = postsCount - numberOfLatestPostsToShow %}
{% if morePosts > 0 %}
<p>{{ morePosts }} more publication{% if morePosts != 1 %}s{% endif %} can be found in <a href="/blog/">the archive</a>.</p>
{% endif %}

{# List every content page in the project #}
{#
<ul>
	{%- for entry in collections.all %}
	<li><a href="{{ entry.url }}"><code>{{ entry.url }}</code></a></li>
	{%- endfor %}
</ul>
#}
